*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.bg-color {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to left top, #ffffff, #f4f5fe, #e6ebfe, #d4e3fe, #bfdbfe);
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.img {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  object-position: bottom;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
}

.row {
  
  flex-direction: row;
  justify-content: space-evenly;
}

.link {
  list-style: none;
  margin-top: 1rem;
  background-color: bisque;
  width: 80%;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(240 249 255);
  border: solid 1px rgb(186 230 253);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(8 47 73);
  text-decoration: none;
}
